body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9e5de;
  height: 100vh;
}

.password-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  background-color: white;
  padding: 75px 50px;
  border-radius: 50px;
  box-shadow: 11px 9px 19px -8px #00d4ff;
}

h3{
  text-align: center;
  color: blue;
  font-size: 44px;
  width: 150px;
}

.submit-button{
  display:flex;
  justify-content: center;
  
}

#submit-button{
  background-color: blue;
  color: white;
  border-radius: 20px;
  margin: 30px;
  padding: 20px 5px;
  width:200px;
  font-size:medium;
}

#submit-button:hover{
  color:red;
}

.username{
  display: flex;
  justify-content: center;
  margin: 10px;

}

.password{
  display: flex;
  justify-content: flex-start;
}

#username{
  display:flex;
  justify-content: flex-start;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 30px;
  width: 200px;
  height: 1px;
}

#password{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 30px;
  width: 200px;
  align-items: flex-start;
}